div.new-message-wrapper {
    position: absolute;
    top: 0.625em;
    bottom: 0;
    left: 1em;
    right: 1em;
}

div.new-message-wrapper div.new-message-content {
    padding-top: 0.3125em;
    border: 0.0625em solid #C1C1C1;
}

div.new-message-wrapper div.new-message-content div.img-container {
    text-align: center;
    height: 4.125em;
}

div.new-message-wrapper div.new-message-content div.img-container img {
    width: 4.125em;
    height: 4.125em;
    vertical-align: middle;
    border-radius: 50%;
    position: absolute;
    left: 0.625em;
}

div.new-message-wrapper div.new-message-content div.img-container span {
    line-height: 4.125em;
    text-decoration: none;
    color: #F19355;
    font-weight: bold;
}

div.new-message-wrapper div.new-message-content div.text-area-container textarea {
    resize: none;
    height: 10em !important;
    border-radius: 0;
    margin-bottom: 0;
}

div.new-message-wrapper div.new-message-content div.bottom-row {
    min-height: 2.5em;
    background-color: #E4E4E4;
    padding: 0.3125em;
}

div.new-message-wrapper div.new-message-content div.bottom-row div.send-to-container {
    width: 50%;
    padding: 0.3125em;
}

div.new-message-wrapper div.new-message-content div.bottom-row div.send-to-text {
    max-height: 2.5em;
    text-overflow: ellipsis;
    overflow-x: hidden;
    width: 100%;
    white-space: nowrap;
}

div.new-message-wrapper div.new-message-content div.bottom-row div.send-to-btn button {
    margin: 0.3125em 0 0 0;
    padding: 0.3125em;
}

div.new-message-wrapper div.new-message-content div.messageBtn-container button {
    width: 48%;
    display: inline-block;
}

div.new-message-wrapper div.new-message-content div.messageBtn-container button.btn-send {
    float: right;
}

/******************** JQM POPUP ********************/
div#department_list div.department_list_header {
    text-align: center;
}

div#department_list div.department_list_header h2 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

div.ui-popup-container, div.ui-popup {
    height: 98%;
    width: 100%;
    position: absolute;
    top: 0;
    left:0;
}

div#department_list div.department-container {
    width: 90%;
    padding-left: 1em;
    padding-right: 1em;
}

div#department_list div.department-container img.department-image {
    width: 3.125em;
    height: 3.125em;
    border-radius: 50%;
    position: relative;
    left: 0;
}

div#department_list div.department-container div.ui-checkbox {
    top: -2.0625em;
}

div#department_list div.department-container div.ui-checkbox input[type="checkbox"] {
    right: 0;
    left: initial;
}

div#department_list div.department-container span {
    position: relative;
    top: -1em;
    left: 2.1875em;
}