div.menu-wrapper {
	padding-left: 15px;
	padding-right: 15px;
	background-color: rgb(3,87,140);
	color: #F19355;
	text-shadow: initial;
}

div.menu-wrapper div.menu-container {
	height: 2em;
	text-align: center;
	font-size: 1em;
	line-height: 2em;
	font-weight: bold;
    display: inline-block;
   	width: 100%;
}

div.menu-wrapper div.menu-container div.activePage a.menu-back {
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 1em;
    text-decoration: none;
    color: #F19355;
}

div.menu-wrapper div.menu-container div.activePage img.back-btn {
    height: 1em;
    margin-right: .25em;
}

div.menu-wrapper div.menu-container div.activePage {
	color: #FFFFFF;
}

div.menu-wrapper div.menu-container div.activePage i.fa-ellipsis-v {
	position: absolute;
    top: .2em;
    right: 1em;
    color: #F19355;
    font-size: 1.5em;
}

div.menu-wrapper div.menu-container div.activePage div.menuOptions {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.2);
    padding: 0px 15px;
    z-index: 1;
    text-align: left;
    right: 0;
}

div.menu-wrapper div.menu-container div.activePage div.menuOptions ul {
	text-align: left;
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

div.menu-wrapper div.menu-container div.activePage div.menuOptions ul li a {
	text-decoration: none;
	color: #000000;
	font-weight: normal;
}